<?xml version="1.0"?>

<model>
  <name>scene2</name>
  <version>1.0</version>
  <sdf version="1.4">scene2.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    Exploration scenarios for turtlebots (UPCMRN16 projects)
  </description>
</model>
